body{
  margin: 0;
  padding: 0;
 
  /* backgro5und:linear-gradient(#33ccff , #660066); */
}
.AdminRegistration-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
  /* height: 100vh; */
  width: 100%;
  background-image:
   linear-gradient(to right , rgb(0, 0, 0 , 0.7) , rgba(48, 48, 48, 0.555) ), 
  url(../../../assets/admin/bg.jpg)
  ;
background-size: cover;

background-attachment: fixed;
 /* background: linear-gradient(#dde3e6, #8991ce); */
  /* background: linear-gradient(#33ccff, #660066); */
/* background-repeat: no-repeat; */

}
.AdminRegistration-form-container{
  justify-items: center;
  width: 45%;
  
}

.AdminRegistration-form {
  /* background: linear-gradient(#dde3e6, #8991ce); */
  background-color: rgb(255, 255, 255);

  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
  overflow: scroll;
  width: 160%;
  margin-bottom: 3rem;
  /* opacity: 80%; */
}
.AdminRegistration-form::-webkit-scrollbar{
  width: 0.5rem;
  display: none;
}
.AdminRegistration-form::-webkit-scrollbar-track{
  background-color: transparent;
}
.AdminRegistration-form::-webkit-scrollbar-thumb{
  background-color: #888;
}
.AdminRegistration-form:hover::-webkit-scrollbar-thumb{
  background-color: #555;
}
.AdminRegistration-form-header{
  text-align: center;
  /* font-family: 'Forum', cursive; */
}
.AdminRegistration-form-group{
  display: flex;
  justify-content: space-between;
  height:30%;
}
.AdminRegistration-form-label {
  padding-top: 10px;
}
.AdminRegistration-form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
  width: 70%;
  background-color: rgb(241, 235, 235);
  /* margin-bottom: 15px; */
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 5px;
}

.AdminRegistration-form-dropdown {
  width: 70%;
  background-color: rgb(241, 235, 235);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
.AdminRegistration-buttons{
  display: flex ;
  justify-content: space-between ;
  margin-top: 20px;
}
.AdminRegistration-button-submit {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.AdminRegistration-button-submit:hover {
  background-color: #0056B3;
}
.AdminRegistration-button-cancel {
  padding: 10px 20px;
  background-color:  #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.AdminRegistration-button-cancel:hover {
  background-color: #8B0000;
}
.AR-errorSpans{
  text-align: left;
  text-wrap: wrap;
  color: red;
  margin-bottom: 20px;
  /* margin-left: 150px; */
  font-size: 11px;
}

