.header{
    align-items: center;
    margin-top: 30px;
}

.header-h1{
  margin: auto;
  width: 50%;
  /* background-color: rgb(197, 189, 189); */
  /* border: 3px solid green; */
  padding: 10px;
  color: black;
  text-align: center;
  align-items: center;
}