
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  /* min-height: 100vh; */
}

.nav-bar {
  background: linear-gradient(#19161a, #420248);
  color: #fff;
  padding: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar h4 {
  margin-top: -30%;
  font-size: 30px;
  /* font-style: italic; */
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom:-5%;
}

.employee-tab,
.manager-tab,
.project-tab {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.employee-tab.active,
.manager-tab.active,
.project-tab.active {
  background-color: #555;
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.add-employee-btn,
.add-project-btn,
.add-manager-btn {
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: none;
}
/* .add-project-btn,.add-employee-btn:hover{ */
  /* background-color: #980505 !important; */
/* } */

.add-employee-btn.active,
.add-project-btn.active{
  display: block;
  padding: 10px 15px;
  margin-top: 12px;
  /* opacity: 0; */
  background-color: #107deb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.add-manager-btn.active{
  display: block;
  padding: 10px 15px;
  margin-top: 12px;
  /* opacity: 0; */
  background-color: #107deb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  opacity: 0;
}
.add-project-btn:hover ,.add-employee-btn:hover{ 
  background-color: rgb(13, 10, 107)!important;
}

.logout-btn {
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  background-color: #ed0d0d !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #980505 !important; /* Change color on hover if desired */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
