

/* *{
  margin:0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
 .form {
  width: 30% !important;
  height: 80%;
  margin: 0 auto;
  margin: 1rem 0 0 25rem;
  margin-top: 3rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ccc6c6;
}
.form-header{
  text-align: center;
  font-family: 'Forum', cursive;
}
.form-group{
  display: flex;
  justify-content: space-between;
  height:30%;
}
.form-label {
  padding-top: 10px;
}
.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
.form-input[type="date"] {
  width: 18rem;
  height: 10%;
  box-sizing: border-box;
}
.form-dropdown {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
.buttons{
  display: flex ;
  justify-content: space-between ;
  margin-top: 20px;
}
.button-submit {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-submit:hover {
  background-color: #0056B3;
}
.button-cancel {
  padding: 10px 20px;
  background-color:  #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-cancel:hover {
  background-color: #8B0000;
} */

body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background:linear-gradient(#33ccff , #660066);
}
.form {
  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 3rem;
  overflow: scroll;
  margin-bottom: 3rem;
}
.form::-webkit-scrollbar{
  width: 0.5rem;
  display: none;
}
.form::-webkit-scrollbar-track{
  background-color: transparent;
}
.form::-webkit-scrollbar-thumb{
  background-color: #888;
}
.form:hover::-webkit-scrollbar-thumb{
  background-color: #555;
}
.form-header{
  text-align: center;
  font-family: 'Forum', cursive;
}
.form-group{
  display: flex;
  justify-content: space-between;
  height:30%;
}
.form-label {
  padding-top: 10px;
}
.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
/* .form-input[type="date"] {
  width: 48%;
  height: 10%;
  box-sizing: border-box;
} */
.form-dropdown {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
.buttons{
  display: flex ;
  justify-content: space-between ;
  margin-top: 20px;
}
.button-submit {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-submit:hover {
  background-color: #0056B3;
}
.button-cancel {
  padding: 10px 20px;
  background-color:  #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-cancel:hover {
  background-color: #8B0000;
}