/* AdminStyle.css */

.container {
  max-width: 350px !important;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #615c5c;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(93, 93, 224, 0.1);
  background-color: #fbf4f4;
}

.form1 {
  margin-bottom: 10px;
}

.form1 .error{
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

label {
  font-weight: bold;
  /* font-style: italic; */
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px ;
}


.dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-container {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.btn-container .btn  {
  background-color: #007bff ;
  margin-left: 10px;
  color: #eaebf4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .btn-container .btn:hover {
  background-color: #78bfef;
}

