
 .form {
  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ccc6c6;
}
.form-header{
  text-align: center;
  font-family: 'Forum', cursive;
}
.form-group{
  display: flex;
  justify-content: space-between;
  height:30%;
}
.form-label {
  padding-top: 10px;
}
.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
/* .form-input[type="date"] {
  width: 48%;
  height: 10%;
  box-sizing: border-box;
} */
.form-dropdown {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}
.buttons{
  display: flex ;
  justify-content: space-between ;
  margin-top: 20px;
}
.button-submit {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-submit:hover {
  background-color: #0056B3;
}
.button-cancel {
  padding: 10px 20px;
  background-color:  #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-cancel:hover {
  background-color: #8B0000;
}
