.unauthorized-container {
    background-color: #fae0dc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    width: 500px;
 
  }
  .unauthorized {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .warning-symbol {
    color: red;
    font-size: 70px;
  }
  .Unauthorized-button{
    width:30%;
  }
  .unauthorized-div{
    margin-left: 25%;
    margin-top: 12%;
  }