
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#dde3e6, #8991ce);

  min-height: 100vh;
  
}

.nav-bar {
  background: linear-gradient(#272328, #420248);
  color: #fff;
  padding: 20px;
  width: 97%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar h4 {
  margin-top: -5%;
  font-size: 30px;
  margin-left: 5px;
  /* font-style: italic; */
}
.RR-btn{
  background-color: #516bd4;
  margin-left: 20px;
  margin-top: 20%;
  width: 50%;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom:-5%;
  justify-content: center;
  border: 2px solid whitesmoke !important;
  border-radius: 5px;
  
  box-shadow: 2px 2px 5px rgba(112, 146, 142, 0.7);
}

.employee-tab,
.manager-tab,
.project-tab {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* 
.manager-tab{
  width: 100%;
} */

.empty-div{
  width: 20%;
}
.employee-tab.active,
.manager-tab.active,
.project-tab.active {
  background-color: #555;
}

.tab-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.add-employee-btn,
.add-project-btn{
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: none;
}


.add-employee-btn.active,
.add-project-btn.active{
  display: block;
  padding: 10px 15px;
  margin-top: 12px;
  margin: -5px;
  /* opacity: 0; */
  background-color: #107deb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.add-manager-btn {
  display: none;
}
.add-project-btn:hover ,.add-employee-btn:hover{ 
  background-color: rgb(13, 10, 107)!important;
}

.logout-container{
display: contents;
}
.emp-container{
  display: contents;
}

.logout-btn {
  /* width: 100%; */
  cursor: pointer;
  padding: 10px 15px;
  /* margin: 5px; */
  margin-bottom: 10px;
  background-color: #ed0d0d !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #980505 !important; /* Change color on hover if desired */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
