.MD-card-container {
    /* display: flex;
    flex-wrap: wrap;
    height: 200px ;
    overflow-y: scroll;
    padding: 20px; */
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
    overflow-y: scroll;
    width: 100%;
    /* height: 500px ; */
  }



.MD-filter{
  margin-right: 30px;
text-align: right;
}
.MD-filter input[type="checkbox"]:checked + label .MD-button-label {
  
  font-weight: bold;
  color: #007BFF;
}
.empty{
  width: 100% !important;
}
  
  .MD-card-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .EC-Component{
    display: flex;
    justify-content: end;
   
  }
  .MD-skill-filter{
    width:30%;
    margin-left: 10px;
  }
  
  .MD-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgb(139, 132, 138);
    margin: 5px;
    height:240px ;
    width: 24rem;
    margin-top: 2rem;
    margin-left: 1rem;
    flex-shrink: 0;
    transition: transform 0.2s ease;
  }
  .Radiobutton{
    /* padding:10px !important; */
    /* width: 1%; */
    margin-right: 2px;
    text-align: right;
  }
  
  .MD-card:hover {
    transform: scale(1.02);
  }
  
  .MD-column1 {
    
    padding: 10px;
    width:55%
  }
  .MD-column2 {
    
    padding: 10px;
    /* width:40%; */
  }
  
  .MD-card h2 {
    font-size: 1.5rem !important;
    margin-bottom: 0.5rem;
    color: #000000;
  }

  
  p {
    margin: 0.5rem 0;
    font-size: 0.9rem !important;
    color: #000000;
  }

  
  .MD-assign-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 30px;
    /* height: 41px; */
    /* width:30px; */
  }
  
  .MD-assign-button:hover {
    background-color: #0056b3;
    
  }
  .MD-requested-button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 30px;
    height: 41px;

  }
    
  .MD-requested-button:hover {
    background-color: #007bff;
 
    
  }
  


