.card-container {
    display: flex;
    flex-wrap: wrap;
    height: 200px ;
    overflow-y: scroll;
    padding: 20px;
  }
  
  .card-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .AD-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgb(139, 132, 138);
    margin: 5px;
    height:210px ;
    width: 24rem;
    margin-top: 2rem;
    margin-left: 1rem;
    flex-shrink: 0;
    transition: transform 0.2s ease;
    /* display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 5px;
    width: 24rem;
    margin-top: 2rem;
    margin-left: 1rem;
    flex-shrink: 0;
    height: 14rem; */
  }
  
  .AD-card:hover {
    transform: scale(1.02);
  }
  
  .column {
    flex: 1;
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5rem !important;
    margin-bottom: 0.5rem;
    color: #000000;
  }
  
  p {
    margin: 0.5rem 0;
    font-size: 0.9rem !important;
    color: #000000;
  }
  
  .AD-assign-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 5px;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .AD-assign-button:hover {
    background-color: #0056b3;
  }
  