/* CSS for AssignProject Component */

/* Main container */
.US{
    text-align: center;
  }
  .US-container {
      /* width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
      width: 400px;
      height: 100px;
      margin: 0 auto;
      padding: 20vmin;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: whitesmoke;
      box-shadow: 0 2px 4px rgb(125 12 12 / 10%);
    }
    
    /* Heading style */
    .US-container h3 {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    /* Select input style */
    .US-project-input-box {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
    }
    
  /* CSS for AssignProject Component Buttons */
  
  /* Button container */
  .US-button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    
    /* Button style */
    .US-container button {
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .US-container button:hover {
      background-color: #0056b3;
    }
    
    /* Secondary button style (Cancel) */
    .US-container button.secondary {
      background-color: #c50404;
      color: #333;
      margin-left: 10px;
    }
    
    .US-container button.secondary:hover {
      background-color: #e85959;
      color: #fff;
    }
    
    